/**
 * @name zodiaczvr tek
 * @author zodyvr
 * @authorId 1053428061149876344
 * @authorLink ?
 * @version 1.2.1
 * @description A sleek, customizable Discord theme.
 * @updateUrl ?
 * @invite caAsUdtQbx
*/

@import url('https://github.com/zodiaczvr/blue/blob/main/zodiaczvr.base.css');
@import url('https://github.com/zodiaczvr/blue/blob/main/zodiacvr.css');

:root {
    --background-primary: linear-gradient(180deg, rgba(23,0,5,.75) 10%, rgba(0,0,0,1) 65%); /* Background gradient */
    --background-secondary: linear-gradient(180deg, rgba(23,0,5,.75) 10%, rgba(0,0,0,1) 65%); /* Background gradient */
    --font-primary: 'Rajdhani'; /* Font */
    --primary-text-color: lightgray; /* Font color */

    --primary: 23, 13, 22;  /* Background color mainly used for popups */
    --red: 255, 0, 60; /* Use RGB values */
    --blue: 114, 234, 248; /* Use RGB values */
    --yellow: 243, 230, 0; /* Use RGB values */
    --green: 71, 213, 139; /* Use RGB values */
    --dark-green: 56, 171, 111; /* Use RGB values */

    --avatar-circle: 0; /* Square avatar */
    --avatar-rounded: 5px; /* Square avatars */
    --avatar-border: 1px solid var(--neon-red-color); /* Border of avatar */
}
